div {
    width: 1000px;
    height: 1000x;
    font-size: 45px;
    text-align: center;
    position: absolute;
    left: 250px;

}

button {
    font-size: 30px;
    padding: 10px 50px;
    cursor: pointer;
}