#box0 {
    border: 2px solid;
    width: 100px;
    height: 100px;
    border-top-color: white;
    border-left-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 77px;
    font-family: Arial, Helvetica, sans-serif;

}

#box1 {
    border: 2px solid;
    width: 100px;
    height: 100px;
    border-top-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 77px;
    font-family: Arial, Helvetica, sans-serif;

}

#box2 {
    border: 2px solid;
    width: 100px;
    height: 100px;
    border-top-color: white;
    border-right-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 77px;
    font-family: Arial, Helvetica, sans-serif;

}

#box3 {
    border: 2px solid;
    width: 100px;
    height: 100px;
    border-left-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 77px;
    font-family: Arial, Helvetica, sans-serif;

}

#box4 {
    border: 2px solid;
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: 77px;
    font-family: Arial, Helvetica, sans-serif;

}

#box5 {
    border: 2px solid;
    width: 100px;
    height: 100px;
    border-right-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 77px;
    font-family: Arial, Helvetica, sans-serif;

}

#box6 {
    border: 2px solid;
    width: 100px;
    height: 100px;
    border-left-color: white;
    border-bottom-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 77px;
    font-family: Arial, Helvetica, sans-serif;

}

#box7 {
    border: 2px solid;
    width: 100px;
    height: 100px;
    border-bottom-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 77px;
    font-family: Arial, Helvetica, sans-serif;

}

#box8 {
    border: 2px solid;
    width: 100px;
    height: 100px;
    border-right-color: white;
    border-bottom-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 77px;
    font-family: Arial, Helvetica, sans-serif;

}

#initialize {
    align-self: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: auto;
}

#whole {
    margin: auto;
    text-align: center;
}